<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true"
	xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="FA" class="org.apache.log4j.FileAppender">
		<param name="file" value="./target/CLM-REST.log" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-4p] %c - %m%n" />
		</layout>
	</appender>
	<root>
		<priority value="INFO" />
		<appender-ref ref="FA" />
	</root>
</log4j:configuration>
